body {
  font-family: "Open Sans";
  font-weight: 400;
  width: 80rem;
  margin: 0rem;
}

.primarytextcolor {
  color: #393939;
}

.secondarytextcolor {
  color: #FFFFFF;
}

.highlighttextcolor {
  color: #5BACC3;
}

.pink_background {
  background-color: #FFF0ED;
}

.lightgrey_background {
  background-color: #F7F7F7;
}

h1 {
  font-size: 3.75rem;
  font-weight: 300;
}

h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

h3 {
  font-size: 2.0625rem;
  font-weight: 300;
}

.regular_paragraph {
  font-size: 1.125rem;
  font-weight: 400;
}

.italicregular_paragraph {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  margin: 0rem;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

/* First Container (Shared) */
.first_container {
  width: 80rem;
  background-color: #FFF0ED;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.25rem 0rem;
}

.nav_headerlink {
  text-decoration: none;
  color: black;
}
.nav_headerlink:visited {
  color: black;
}
.nav_header {
  font-size: 2.8125rem;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  margin: 0rem;
}

.firstcontainer_icon {
  width: 3.125rem;
  height: 3.125rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.main_nav {
  display: inline-block;
  padding: 0rem;
  padding-top: 1rem;
  margin: 0rem 0rem 0rem 1rem;
  vertical-align: middle;
  position: relative;
  left: 45rem;
}

.mainnav_list {
  list-style: none;
  display: inline;
  padding: 0rem 1.25rem 0rem 0rem;
  margin: 0rem;
}
.mainnav_link {
  font-size: 1.3125rem;
  font-weight: 400;
  text-decoration: none;
  color: #393939;
  margin-left: 1rem;
}
.mainnav_link_shopnow {
  color: #5BACC3;
}

/* menu css */
/* first container (shared) */
/* second container */
.second_container {
  background-image: url("../assets/images/coffee-circle.jpg");
  background-size: cover;
  background-position: center;
  width: 80rem;
  height: 35.9375rem;
}
.second-container_MENUblock {
  width: 17.5rem;
  height: 11.25rem;
  position: relative;
  left: 33.125rem;
  top: 12.5rem;
}
.second-container_MENUborder {
  width: 17.5rem;
  height: 11rem;
  border: 0.3125rem solid #5BACC3;
  position: absolute;
  bottom: 0.9375rem;
  right: 0.9375rem;
  z-index: 10;
}
.second-container_MENU {
  text-align: center;
  background-color: #393939;
  width: 17.5rem;
  height: 11rem;
  color: #FFFFFF;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3125rem;
}

/* third container */
.third_container {
  box-sizing: border-box;
  background-color: #393939;
  width: 80rem;
  height: 4.5rem;
  text-align: center;
  color: #FFFFFF;
  padding: 0.5rem;
}

.sub_nav {
  text-align: center;
  padding: 0rem;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subnav_list {
  float: left;
  list-style: none;
  display: inline;
  padding: 0rem 1.25rem 0rem 1.25rem;
  border-width: 0rem 0rem 0rem 0.25rem;
  border-color: #5BACC3;
  border-style: solid;
}
.subnav_link {
  color: #FFFFFF;
  font-size: 1.3125rem;
  font-weight: 400;
  text-decoration: none;
}
.subnav_link:visited {
  color: #FFFFFF;
}

/* fourth container */
.fourth_container {
  width: 80rem;
}

.product_section {
  padding-bottom: 1rem;
}

h2.production_title {
  text-align: center;
  height: 5.094rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 1rem 0rem;
  color: #393939;
  font-weight: 300;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.item_title {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
.item_description {
  text-align: center;
  display: inline-block;
  width: 32%;
  padding-top: 0.5rem;
}
.item_price {
  text-align: center;
  color: #5BACC3;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0.5rem 0rem;
}
.item-description_inhousebrew {
  width: 28.4375rem;
  position: relative;
}
.item-description_espresso {
  width: 490px;
  position: relative;
}
.item-description_coldbrew {
  width: 30.625rem;
  position: relative;
}
.item-description_icedchailatte {
  width: 31.25rem;
  position: relative;
}
.item-description_baconcookie {
  width: 31.25rem;
  position: relative;
}
.item-description_blueberrymuffin {
  width: 31.25rem;
  position: relative;
}/*# sourceMappingURL=menu.css.map */